.title {
  font-size: 40px;
  color: red;
}
:global {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 3px solid red;
    .body {
      .text {
        color: green
      }
    }
  }
}
